.layout-cabecalho {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;

  background-color: #ffde59;
}

.layout-cabecalho--home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.layout-planos {
  padding: 80px 0;
}

.layout-chamada {
  padding: 70px 0px;
  margin-top: 40px;

  background-color: #0e0f0d;
}

.layout-depoimento {
  padding: 20px 0;
  background-color: #fff;
}

.layout-rodape {
  padding: 40px 0;

  background-color: #161515;

  color: #fff;
  text-align: center; 
}

@media(max-width: 749px) {
  .layout-planos .row > div:not(.ultima-coluna) {
    margin-bottom: 40px;
  }
}

.layout-assinatura {
  padding: 40px 0;
}
.quem-somos{
  padding: 40px 0px;
}
